@using Codeer.LowCode.Bindings.ORiN3.Designs
@using Codeer.LowCode.Bindings.ORiN3.Fields
@using Codeer.LowCode.Blazor.Components
@inherits FieldComponentBase<ORiN3Field>

@if (Field.Services.AppInfoService.IsDesignMode)
{
  <span>ORiN3</span>
}

@code {
}